h1 Вход в систему
p
  =flash.now[:alert]
= form_tag logins_path do
  .form-group
    = label_tag :email
    = email_field_tag :email, params[:email], class: 'form-control'
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, class: 'form-control'
  .form-group
    = label_tag :remember_me
    = check_box_tag :remember_me

  = submit_tag 'Войти', class: 'btn btn-default'