ul class='users'
  - @users.each do |user|
    li
      = image_tag user.photo_url(:thumb)
      = link_to user.username, user
    - if current_user.admin? && !current_user?(user)
      = link_to "delete", user, method: :delete, data: { confirm: "You sure?" }
    li
      = user.email
    br
= paginate @users
