p
  =flash.now[:alert]
  =flash.now[:notice]
h1 Show your profile

aside
  ul
    li = image_tag(@user.photo_url.to_s)
    li 
      = @user.username
    li 
      = @user.email
    li
      = link_to(following_user_path(@user))
        strong.statistic
          = "Друзья: "
          = @user.followed_users.count
    li
      = link_to(followers_user_path(@user))
        strong.statistic 
          = 'Подписчики: '
          = @user.followers.count
    - unless current_user?(@user)
      - if current_user.following?(@user)
        li
          = render 'unfollow'
      - else
        li
          = render 'follow'

  - if current_user
    - if @user.id == current_user.id
      = link_to 'Редактировать', edit_user_path, class: 'btn btn-danger'
      = render '/myposts/mypost_form'

- if @user.myposts.any?
  h3 My posts
  
  ol class='myposts'
    = render @myposts
  = paginate @myposts
