li
  span = image_tag mypost.user.photo_url(:mini)
  span = link_to mypost.user.username, mypost.user
  span class='content' = mypost.content
  - if mypost.photo_url.to_s != "/no_image.png"
    div = image_tag(mypost.photo_url.to_s)
  span class='timestamp'
    = time_ago_in_words(mypost.created_at)
    = social_share_button_tag("My Home Page", :url => "http://atmos8.com")
  - if current_user?(mypost.user)
    div = link_to 'delete', mypost, method: :delete, data: { confirm: "You sure?" }
