/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid grey;
  }
}

/* myposts */

aside {
  background: #f0f0f0;
  float: left;
  height: 1000px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 10px;
  width: 350px;
  ul {
    list-style: none;
    margin: 10px 0 0 0;
  }
}

.content {
  display: block;
}

.myposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }
}

.timestamp {
  color: gray;
}
