<!DOCTYPE html>
<html>
<head>
  <title>Atmos8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" if Rails.env.production? %>
  <!-- Optional theme -->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" if Rails.env.production? %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" if Rails.env.production? %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar">
    <ul class="nav navbar-nav" >
      <% unless current_user %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "log in", login_path %></li>
      <% end %>
    </ul>
    <br>
    <% if current_user %>
      <ul class="nav navbar-nav pull-right">
        <li><span>Приветствуем Вас, <%= current_user.username %>.</span></li>
        <% if current_user.admin %>
          <li><%= link_to 'Admin Panel', admin_dashboard_path %></li>
        <% end %>
        <li><%= link_to 'My Profile', user_path(current_user) %>
        <li><%= link_to 'Edit', edit_user_path(current_user) %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Log Out', logout_path %></li>
      </ul>
    <% end %>
</div>

<%= yield %>

</body>
</html>
